---
import { Icon } from "astro-icon/components";
import BaseImage, { type Props as BaseProps } from "./BaseImage.astro";
import Link from "../nav/Link.astro";
import Badge from "../Badge.astro";

type Props = BaseProps & {
	/** Disables the rotation effect. */
	noRotate?: boolean;

	/** Removes the licence notice in the preview. */
	noLicense?: boolean;
};

const { noRotate = false, noLicense = false, src, alt, ...props } = Astro.props;
const rawImage = typeof src === "object" && "src" in src ? src : undefined;
---

<figure class:list={["main-image", { "has-preview": rawImage !== undefined, "no-rotate": noRotate }]}>
	{/* Conversion to `any` added to hide a false error message */}
	<BaseImage lqip src={src} alt={alt} {...props as any} />
	<figcaption>
		<slot />
	</figcaption>

	{
		rawImage && (
			<article class="main-image-preview backdrop">
				<div class="top-row">
					<Badge type="beta" />

					<div class="buttons">
						<a href={rawImage.src} download title="Download">
							<Icon name="fluent:arrow-download-24-regular" size={24} />
						</a>
						<button class="close-preview" title="Close">
							<Icon name="fluent:dismiss-24-regular" size={24} />
						</button>
					</div>
				</div>
				<img data-src={rawImage.src} alt={alt} width={rawImage.width} height={rawImage.height} />
				<footer>
					<h2>{alt}</h2>
					<p><slot /></p>
					{!noLicense && (
						<p>
							<small>
								This image is available under the
								<Link href="https://creativecommons.org/licenses/by-sa/4.0/" external
								      icon={["cib:creative-commons", "cib:creative-commons-by", "cib:creative-commons-sa"]}>
									CC-BY-SA 4.0
								</Link>
								licence.
							</small>
						</p>
					)}
				</footer>
			</article>
		)
	}
</figure>

<script>
	import { clamp } from "../../utils.ts";
	import { preferences } from "../../scripts/preferences";

	const ENABLE_LOGGING = false; // TODO: maybe make this an advanced preference?

	let root: HTMLElement;
	let topbar: HTMLElement | null;
	let rotatingImages: HTMLPictureElement[];
	let lastLogTime = 0;
	let listening = false;

	function loadImages() {
		root = document.querySelector("main") ?? document.body;
		topbar = document.querySelector("header");

		rotatingImages = [];
		const images = document.querySelectorAll<HTMLElement>("figure.main-image");
		for (const figure of images) {
			const picture = figure.querySelector("picture");
			if (!picture) {
				continue;
			}

			const preview = figure.querySelector<HTMLElement>(".main-image-preview");
			if (preview) {
				const image = preview.querySelector("img");

				// Parent to the body to avoid issues with `position: fixed`
				document.body.append(preview);

				picture.addEventListener("click", () => {
					preview.classList.add("open");
					if (image && !image.src && image.dataset.src) {
						image.src = image.dataset.src;
					}
				});

				preview.addEventListener("click", (ev) => {
					if (ev.target === preview) {
						preview.classList.remove("open");
					}
				});

				const closeButton = preview.querySelector(".close-preview");
				closeButton?.addEventListener("click", () => {
					preview.classList.remove("open");
				});
			}

			if (!figure.classList.contains("no-rotate")) {
				rotatingImages.push(picture);
			}
		}
		updateImages();
	}

	// Rotate the images based on where it is on the screen
	function updateImages() {
		if (!root || !rotatingImages) {
			return;
		}

		let i = 0;
		let shouldLog = false;
		if (ENABLE_LOGGING) {
			const now = Date.now();
			shouldLog = now - lastLogTime > 300;
			if (shouldLog) {
				lastLogTime = now;
			}
		}

		const fxEnabled = preferences.immersiveFX.isEnabled();
		const rootBounds = root.getBoundingClientRect();
		const topbarInset = topbar?.offsetHeight ?? 0;

		for (const image of rotatingImages) {
			if (!fxEnabled) {
				image.style.removeProperty("--main-image-rotation");
				continue;
			}

			// Determine where the image lies on the screen
			const imgBounds = image.getBoundingClientRect();

			const xPosition = imgBounds.x - rootBounds.x;
			const pageWidth = rootBounds.width - imgBounds.width;
			const xPercent = clamp(xPosition / pageWidth * 2 - 1, -1, 1);

			const yPosition = imgBounds.y + imgBounds.height - topbarInset;
			const pageHeight = innerHeight + imgBounds.height - topbarInset;
			let yPercent = clamp(yPosition / pageHeight * 2 - 1, -1, 1);

			// Accentuate the rotation from the vertical position a bit
			yPercent = Math.abs(yPercent) ** 0.75 * Math.sign(yPercent);
			image.style.setProperty("--main-image-rotation", `${xPercent * yPercent * 1.25}deg`);

			if (shouldLog) {
				console.debug(`Image ${++i}:`, xPercent, yPercent);
			}
		}
	}

	document.addEventListener("astro:after-swap", loadImages);
	document.addEventListener("custom:preferences-updated", () => {
		if (preferences.immersiveFX.isEnabled()) {
			if (!listening) {
				listening = true;
				document.addEventListener("scroll", updateImages);
				updateImages();
			}
		} else {
			document.removeEventListener("scroll", updateImages);
		}
	});
	loadImages();
</script>

<style lang="scss">
	@use "../../styles/utils" as *;
	@use "../../styles/colors" as *;

	figure.main-image {
		> picture {
			--main-image-rotation: 0deg;

			transform: rotate(var(--main-image-rotation));
			transition: transform $anim-back;

			@media (max-width: $breakpoint-tablet) {
				max-width: 100%;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		&.has-preview > picture {
			cursor: pointer;

			@include hover {
				transform: scale(101.8%) rotate(calc(var(--main-image-rotation) * 1.4));
			}

			@include active {
				transform: scale(99.2%) rotate(calc(var(--main-image-rotation) * 0.7));
			}
		}
	}

	.main-image-preview {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		z-index: 2100;

		.top-row {
			display: flex;

			width: 100%;
			padding: $page-margin;
			gap: size(10);

			h1 {
				margin: 0;
				font-size: size(24);
				color: $taupe-50;
			}
		}

		.buttons {
			display: flex;
			height: size(48);
			overflow: hidden;
			flex-shrink: 0;
			margin-left: auto;

			border: 1px solid var(--color-border);
			border-radius: $radius-full;

			> * {
				display: flex;
				align-items: center;
				justify-content: center;

				width: size(48);
				height: 100%;
				padding: 0;

				background-color: transparent;
				border: none;
				color: var(--color-text);

				@include btn-transparent;

				&:first-child {
					padding-left: size(2);
				}

				&:last-child {
					padding-right: size(2);
				}

				&:not(:last-child) {
					border-right: 1px solid var(--color-border);
				}
			}

			.close-preview {
				color: $red-400;
			}
		}

		p:empty {
			display: none;
		}

		img {
			max-width: calc(100% - $page-margin * 2);
			object-fit: contain;
			min-height: 0;
		}

		footer {
			display: flex;
			flex-direction: column;
			gap: size(6);

			width: 100%;
			padding: $page-margin;
			margin-top: $page-margin;
			border-top: 1px solid var(--color-border);

			> * {
				margin: 0;
			}

			h2 {
				margin-bottom: size(2);
			}
		}

		.buttons, footer {
			background-color: var(--color-component);
		}
	}
</style>
