---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// Displays a list of all blog posts.
// TODO: pagination?

import BaseLayout from "../../layouts/BaseLayout.astro";
import { BLOG_TITLE } from "../../consts.ts";
import Link from "../../components/nav/Link.astro";
import Badge from "../../components/Badge.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import BaseImage from "../../components/media/BaseImage.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import fallbackImage from "../../assets/blog-fallback.jpg";
import type { Props as PictureProps } from "astro/components/Picture.astro";
import FluentEdit20Regular from "~icons/fluent/edit-20-regular";
import FluentRss20Regular from "~icons/fluent/rss-20-regular";

// This is needed because you can't use angle brackets in the JSX below
type PartialPictureProps = Partial<PictureProps>;

type PostData = CollectionEntry<"blog">["data"] & {
	id?: string;
}

const DAY_TIME = 1000 * 60 * 60 * 24;

const collection = await getCollection("blog", post => import.meta.env.DEV || !post.data.draft);
const posts: PostData[] = collection.map(post => ({ id: post.id, ...post.data }));

// Sort posts by publication date
posts.sort((a, b) => b.pubDate.valueOf() - a.pubDate.valueOf());

// Make sure the most recent published post is always in the front
const lastPublishIndex = posts.findIndex(post => !post.draft);
posts.unshift(posts.splice(lastPublishIndex, 1)[0]);

// Add placeholders
const placeholdersToAdd = 6 - posts.length;
if (import.meta.env.DEV && placeholdersToAdd > 0) {
	let timestamp = Date.now();
	for (let i = 1; i <= placeholdersToAdd; i++) {
		timestamp -= DAY_TIME * i;
		posts.push({
			title: `Placeholder ${i}`,
			description: "This is merely here to test out this page, and is not visible in production.",
			pubDate: new Date(timestamp),
			draft: true,
			heroImage: fallbackImage,
			heroAlt: "",
			heroDescription: "",
			heroLicense: null,
		});
	}
}
---

<BaseLayout isBlog>
	<h1>
		{BLOG_TITLE}
		<Badge type="beta" />
	</h1>
	<p>
		Welcome to my blog! This is where I talk about... well, whatever I want to talk about, to be honest.
		Right now there's not that much here yet.
	</p>
	<p>
		<Link href="/rss.xml" external>
			<FluentRss20Regular />
			Subscribe with your RSS reader of choice</Link>
	</p>

	{posts.length > 0 &&
		<section class="posts">
			{
				posts.map((post, index) => {
					// We don't want this to be typed as PartialPictureProps, because that causes the error to pop up again

					const props = (index === 0 ? {
						widths: [320, 480, 640, 960],
						sizes:
							"(max-width: 480px) 320px, " +
							"(max-width: 640px) 480px, " +
							"(min-resolution: 1.5x) 960px, " +
							"640px",
						width: 640,
						height: 320,
					} : {
						width: 320,
						height: 160,
					}) satisfies PartialPictureProps;

					return (
						<article class:list={{ draft: post.draft }}>
							<a href={post.id && `/blog/${post.id}`} tabindex="0">
								{post.heroImage && (
									<BaseImage src={post.heroImage} alt={post.heroAlt} lqip priority={index === 0} {...props} />
								)}
								<div>
									<h3 class="title">{post.title}</h3>
									{
										post.draft ? (
											<p class="formatted-date">
												<FluentEdit20Regular />
												Draft
											</p>
										) : (
											<FormattedDate date={post.pubDate} />
										)
									}
									<p class="description">{post.description}</p>
								</div>
							</a>
						</article>
					);
				})
			}
		</section>
	}
</BaseLayout>

<style lang="scss">
	@use "../../styles/utils" as *;

	h1 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.75rem;
	}

	.posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: $page-margin;
		padding-bottom: $page-margin;
	}

	article {
		display: flex;
		justify-content: center;
		width: calc(size(320) - $page-margin / 2);

		&.draft {
			opacity: 0.75;
		}

		&:first-child {
			width: 100%;

			.title {
				font-size: size(27);
				font-weight: heading-weight(2);
			}

			a {
				@include hover {
					transform: scale(101.5%);
				}

				@include active {
					transform: scale(99.25%);
				}
			}
		}

		&:not(:first-child) {
			max-width: calc(100% - $page-margin * 2);

			.description {
				font-size: size(14);
			}
		}

		a {
			text-decoration: none;
			color: inherit;
			transition: transform $anim-back;
			max-width: 640px;

			@include hover {
				transform: scale(102.25%);
			}

			@include active {
				transform: scale(98.75%);
			}

			> div {
				display: flex;
				flex-direction: column;
			}

			.title {
				margin: size(12) 0 size(8) 0;
			}

			.formatted-date {
				margin: 0;
				color: var(--color-dim);
			}

			.description {
				color: var(--color-dimmer);
				margin: size(6) 0 0 0;
			}

			time {
				min-height: $badge-height;

				.new-badge {
					margin-left: size(4);
				}
			}
		}
	}
</style>
