---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

import BaseLayout from '../layouts/BaseLayout.astro';
import { BADGE_TYPES, BADGES, BLOG_TITLE, SITE_DESCRIPTION } from "../consts.ts";
import { getCollection } from "astro:content";
import LinkTree from "../components/nav/LinkTree.astro";
import Link from "../components/nav/Link.astro";
import avatar from "../assets/avatar.avif";
import Badge from "../components/Badge.astro";
import type { LinkData } from "../types";
import MainImage from "../components/media/MainImage.astro";
import CircleFlagsBe from "~icons/circle-flags/be";
import SimpleIconsSoundcloud from "~icons/simple-icons/soundcloud";
import SimpleIconsYoutube from "~icons/simple-icons/youtube";
import SimpleIconsNextcloud from "~icons/simple-icons/nextcloud";

const links = await getCollection("links");
const blogLink: LinkData = {
	id: "blog",
	title: BLOG_TITLE,
	description: "This is where I talk about whatever I feel like talking about. Right now there's not that much here yet.",
	url: "/blog",
	icon: "fluent:rss-24-regular",
	order: -100,
	tags: ["new", "beta"],
};

// TODO: consider converting this to MDX for table of contents and such
---

<BaseLayout title="Home" description={SITE_DESCRIPTION}>
	<section class="section-with-image">
		<div>
			<h1>Hi there!</h1>
			<p>
				I'm <strong class="my-name">f78</strong> <small>(usually pronounced eff-seven-eight)</small>, a 22-year-old guy
				from
				<CircleFlagsBe />
				<strong>Belgium</strong> who's currently studying programming at college.
				In my spare time I like to do stuff like playing PC games, listening to and creating music, as well as
				programming various things <i><small>(including this website you're currently browsing)</small></i>.
			</p>
			<h2>Why that name?</h2>
			<p>
				You see, back in 2019, I thought it'd be funny to try and snag a 3 letter Minecraft username, and to my surprise
				it actually worked. I've since decided to hold on to it and use it as my nickname everywhere. I know it's not
				the best name, but whatever.
			</p>
			<p><small>If you're curious, my actual name is Thomas, but I much prefer that you call me f78.</small></p>
		</div>

		<aside>
			<MainImage src={avatar} width={256} height={256} priority rotates="preferYes"
			           alt="f78's avatar" createdIn="2025">
				An image of my current avatar, which is just my Minecraft skin with some headphones on.
				<i>I might want to replace it at some point...</i>
			</MainImage>
		</aside>
	</section>

	<h2>An Obligatory Link Tree</h2>
	<p>
		Below is a list of links to my social media accounts and such. Remember that I'm quite busy with college, so I won't
		be producing much content for the time being. Right now I'm mainly putting out <b>covers of the Home Paige OST</b>,
		which you can listen to on
		<Link href="https://soundcloud.com/f78music/sets/home-paige-covers" external>
			<SimpleIconsSoundcloud />
			SoundCloud</Link> and
		<Link href="https://www.youtube.com/playlist?list=PLgSYA3wj24HZj21eXhM-wKlIaoHuNCKRs" external>
			<SimpleIconsYoutube />
			YouTube</Link>*. You can also find downloads for them
		<Link href="https://fie.nl.tab.digital/s/q7ntrLN2bz9grzX?dir=/Music/Home%20Paige%20covers" external>
			<SimpleIconsNextcloud />
			in this public Nextcloud folder</Link>.
	</p>
	<p>
		<small>
			*: I may not have uploaded some of the latest covers to YouTube yet. That's because I make music videos for
			them in Unreal Engine, and that takes quite a bit of time, which, again, I don't have much of.
		</small>
	</p>
	{/* BUG: The SoundCloud icon is missing here in the deployed website for some reason... */}
	<LinkTree collection={links} links={[blogLink]} />

	<h3>The Legend of Badges</h3>
	<p>
		There are a handful of badges that show up throughout this website, including in the links above.
		In case you can't hover over them, here's a list of what they mean:
	</p>
	<dl class="badge-legend">
		{BADGE_TYPES.map(type => {
			const { description } = BADGES[type];
			return (
				<>
					<dt>
						<Badge type={type} />
					</dt>
					<dd>{description}</dd>
				</>
			);
		})}
	</dl>
</BaseLayout>

<style lang="scss">
	@use "../styles/colors" as *;
	@use "../styles/utils" as *;
	@use "sass:color";

	.badge-legend {
		dd {
			margin: 0.5rem 0 1rem 2rem;
			color: var(--color-dim);
		}
	}

	@media (min-width: $breakpoint-desktop) {
		.badge-legend {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			gap: 0.5rem 0.75rem;

			dd {
				margin: 0;
			}
		}
	}

	.my-name {
		--start-color: #{$red-550};
		--end-color: #{$red-450};

		font-size: 1.0625rem;
		font-family: var(--font-heading), sans-serif;
		font-weight: 800;
		color: color-mix(in oklch, var(--start-color), var(--end-color));

		@include preferences("light") {
			--start-color: #{$red-650};
			--end-color: #{$red-550};
		}

		// Subtle gradient animation
		@include preferences("fx") {
			position: relative;
			background-image: linear-gradient(to right, var(--start-color), var(--end-color), var(--start-color), var(--end-color));
			background-size: 300%;

			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;

			animation: name-animation 5s infinite linear;

			&::after {
				content: "f78";
				position: absolute;
				top: 0;
				left: 0;

				background: inherit;
				filter: blur(0.1875rem);
				opacity: 0.3;
			}

			@keyframes name-animation {
				from {
					background-position: 0;
				}

				to {
					background-position: 100%;
				}
			}
		}
	}
</style>
