---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// Displays a list of preferences by category.

import PreferenceControl from "./PreferenceControl.astro";
import { getDependencyString } from "../../scripts/preferences/utils.ts";
import { getPreferencesByCategory, type PreferencesByCategory } from "../../scripts/preferences";

interface Props {
	depth?: number;
	preferences?: PreferencesByCategory;
}

const {
	depth = 1,
	preferences: { title, description, dependencies, preferences, categories } = getPreferencesByCategory(),
} = Astro.props;

if (depth < 1 || depth > 6) {
	throw new Error(`Invalid preference depth: ${depth}`);
}

const Heading = `h${depth}` as `h${1 | 2 | 3 | 4 | 5 | 6}`;
const dependencyVars = getDependencyString(dependencies);
---

<fieldset data-preference-dependencies={dependencyVars} hidden={dependencyVars !== undefined}>
	{title && (
		<Heading id={title.toLowerCase().replace(" ", "-")}>{title}</Heading>
	)}
	{description && <p>{description}</p>}

	{preferences?.map(preference => (
		<PreferenceControl preference={preference.id} showIcon showTitle showDescription />
	))}

	{categories?.map(category => (
		<Astro.self depth={depth + 1} preferences={category} />
	))}
</fieldset>

<style lang="scss">
	@use "../../styles/utils" as *;

	fieldset {
		border: none;
		margin: 0;
		padding: 0;

		&[hidden] {
			display: none;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: calc(0.5rem + 0.5em) 0 calc(0.25rem + 0.25em) 0;
		}
	}
</style>
