---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// Displays a single preference.

import { EnumPreference } from "../../scripts/preferences/types/EnumPreference.tsx";
import { InnerPreferenceControl } from "./InnerPreferenceControl.tsx";
import { type PreferenceID, preferences } from "../../scripts/preferences";
import { NumberPreference } from "../../scripts/preferences/types/NumberPreference.tsx";
import { getDependencyString } from "../../scripts/preferences/utils.ts";
import { TogglePreference } from "../../scripts/preferences/types/TogglePreference.tsx";
import DynamicIcon from "../media/DynamicIcon.astro";

interface Props {
	/** The preference to create a control for. */
	preference: PreferenceID;

	/** Shows the preference's title. */
	showTitle?: boolean | string;

	/** Shows the preference's description. */
	showDescription?: boolean;

	/** Shows the preference's icon. */
	showIcon?: boolean;

	/** Disables the mobile layout. */
	noMobile?: boolean;
}

const {
	preference: id,
	showTitle,
	showDescription = false,
	showIcon = false,
	noMobile,
	...cid
} = Astro.props;

const preference = preferences[id];
const icons: [icon: string, option: string][] = [];
if (preference instanceof EnumPreference) {
	for (const [option, { icon }] of Object.entries(preference.options)) {
		if (icon) {
			icons.push([icon, option]);
		}
	}
}

// Dynamically define the grid template
const hasIcon = showIcon && preference.icon !== undefined;
const hasTitle = !!showTitle;
const hasDescription = showDescription && preference.description !== undefined;
const hasBefore = icons.length > 0 || (preference instanceof NumberPreference && preference.useSlider);
const hasAfter = false;

const areaIcon = hasIcon && "icon";
const areaTitle = hasTitle && "title";
const areaBefore = hasBefore && "before-input";
const areaAfter = hasAfter && "after-input";

const gridAreas = [
	[areaIcon, areaTitle, areaBefore, "input", areaAfter],
	hasDescription && [areaIcon, "description", areaBefore, "input", areaAfter],
];
const gridColumns = [
	hasIcon && "auto", (hasTitle || hasDescription) && "1fr", hasBefore && "auto", "auto", hasAfter && "auto",
];

const mobileGridAreas = [
	hasTitle && [areaIcon, hasBefore && areaTitle, areaTitle, hasAfter && areaTitle],
	hasDescription && [areaIcon, hasBefore && "description", "description", hasAfter && "description"],
	[areaIcon, areaBefore, "input", areaAfter],
];
const mobileGridColumns = [hasIcon && "auto", hasBefore && "auto", "1fr", hasAfter && "auto"];

function gridTemplate(areas: typeof gridAreas, columns: typeof gridColumns) {
	let template = "";
	for (const row of areas) {
		if (!row) {
			continue;
		}

		template += "'";
		for (const area of row) {
			if (area) {
				template += area + " ";
			}
		}
		template += "' ";
	}

	template += "/";
	for (const column of columns) {
		if (column) {
			template += " " + column;
		}
	}
	return template;
}

const dependencyVars = getDependencyString(preference.dependencies);
---

<label {...cid} hidden={dependencyVars !== undefined} aria-label={preference.title}
       data-preference-control={id} data-preference-dependencies={dependencyVars}
       style={{
				 "--grid": gridTemplate(gridAreas, gridColumns),
				 "--grid-mobile": gridTemplate(mobileGridAreas, mobileGridColumns),
			 }}
       class:list={{
				 "mobile-rearrange": !(noMobile ?? preference instanceof TogglePreference),
				 "mobile-margin": !noMobile,
			 }}>
	{hasIcon && <DynamicIcon name={preference.icon} size={30} {...cid} />}
	{hasTitle && <span class="title" {...cid}>{typeof showTitle === "string" ? showTitle : preference.title}</span>}
	{hasDescription && <span class="description" {...cid}>{preference.description}</span>}

	<InnerPreferenceControl client:load preference={id} {...cid}>
		{icons.map(([icon, option]) => (
			<DynamicIcon name={icon} data-option-icon={option} class="before-input" size={20} />
		))}
	</InnerPreferenceControl>
</label>

<script>
	import { preferences, type PreferenceID } from "../../scripts/preferences";
	import { dependenciesMet, type MapEntries, type NotUndefined } from "../../scripts/preferences/utils.ts";

	document.addEventListener("custom:preferences-updated", () => {
		const dependents = document.querySelectorAll<HTMLElement>("[data-preference-dependencies]");
		for (const dependent of dependents) {
			const jsonDependencies = dependent.dataset.preferenceDependencies;
			if (!jsonDependencies) {
				continue;
			}

			const dependencies: MapEntries<PreferenceID, NotUndefined[]> = JSON.parse(jsonDependencies);
			const resolved = dependencies.map(([id, expectedValues]) => [preferences[id], expectedValues] as const);
			dependent.hidden = !dependenciesMet(resolved);
		}
	});
</script>

<style lang="scss">
	@use "../../styles/utils" as *;
	@use "sass:math";

	label {
		$line-extension: size(12);

		display: grid;
		grid: var(--grid);
		align-items: center;
		gap: size(6) size(14);
		padding: size(12) $line-extension;
		cursor: pointer;

		@include bounce-anim;

		@media not (min-width: $breakpoint-desktop) {
			&.mobile-rearrange {
				grid: var(--grid-mobile);
			}

			&.mobile-margin {
				margin: 0 (-$line-extension);
			}
		}

		&[hidden] {
			display: none;
		}

		[data-icon] {
			grid-area: icon;
		}

		.title {
			grid-area: title;
			font-family: var(--font-heading), sans-serif;
			font-size: size(17);
		}

		.description {
			grid-area: description;
			color: var(--color-dim);
			font-size: size(14);

			margin-bottom: size(4);
			@media (min-width: $breakpoint-desktop) {
				margin-bottom: 0;
			}
		}

		.before-input {
			grid-area: before-input;
			margin-right: -0.75rem;

			&.hidden {
				display: none;
			}
		}

		.after-input {
			grid-area: after-input;
		}

		.number-display {
			font-family: var(--font-mono), monospace;
			margin-right: -0.375rem;
			font-size: size(14);

			width: size(48);
			text-align: right;
		}

		input, select, textarea {
			grid-area: input;
		}

		input[type="checkbox"], select {
			cursor: pointer;
		}

		select {
			background-color: transparent;
			border: none;
		}

		&:has(+ label:not([hidden])) {
			border-bottom: 1px solid var(--color-border);
		}

		// Fallback for older browsers, since :has is not quite Baseline Widely available yet.
		// This can produce an incorrect border when it's followed by a hidden preference, but it doesn't really matter.
		@supports not selector(:has(+ label:not([hidden]))) {
			&:not(:last-child) {
				border-bottom: 1px solid var(--color-border);
			}
		}
	}
</style>
