---
/*
 * Copyright (c) 2026 f78.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

// Site navigation (top bar and sidebar)

import type { MarkdownHeading } from "astro";
import FluentLineHorizontal320Regular from "~icons/fluent/line-horizontal-3-20-regular";
import FluentHome20Regular from "~icons/fluent/home-20-regular";
import FluentRss20Regular from "~icons/fluent/rss-20-regular";
import FluentSettings20Regular from "~icons/fluent/settings-20-regular";
import FluentDismiss20Regular from "~icons/fluent/dismiss-20-regular";
import Badge from "../Badge";
import PreferenceControl from "../preferences/PreferenceControl.astro";
import SiteLogo from "./SiteLogo.astro";
import SidebarLink from "./SidebarLink.astro";

interface Props {
	headings?: MarkdownHeading[];
}

const { headings } = Astro.props;

// TODO: add Skip Navigation and re-add close button
---

<header>
	<nav>
		<button title="Open navigation menu" aria-label="Open navigation menu" class="show-sidebar">
			<FluentLineHorizontal320Regular />
		</button>
		<SiteLogo />
	</nav>
</header>

<aside class="sidebar">
	<button title="Close" aria-label="Close navigation menu" class="hide-sidebar">
		<FluentDismiss20Regular />
	</button>

	<SiteLogo />
	<SidebarLink href="/">
		<FluentHome20Regular />
		Home
	</SidebarLink>
	<SidebarLink href="/blog">
		<FluentRss20Regular />
		Blog
	</SidebarLink>

	{headings && <h2>Table of Contents</h2>}
	<div class="table-of-contents">
		{
			headings && (
				<SidebarLink href="#top" class="depth-1">
					(Top)
				</SidebarLink>
			)
		}

		{/* TODO: This should really be represented as nested ordered lists, but maybe later. */}
		{
			headings?.map(({ depth, slug, text }) => {
				return (
					<SidebarLink href={`#${slug}`} class={`hide-sidebar depth-${depth}`} data-slug={slug}>
						{text}
					</SidebarLink>
				);
			})
		}
	</div>

	<h2>
		Preferences
		<Badge type="beta" />
	</h2>
	<PreferenceControl preference="immersiveMode" showIcon showTitle="Immersive Mode" noMobile />
	<PreferenceControl preference="theme" showIcon showTitle noMobile />
	<SidebarLink href="/preferences">
		<FluentSettings20Regular />
		More Settings
	</SidebarLink>
</aside>
<div class="backdrop hide-sidebar"></div>

<script>
	const TIME_BETWEEN_HEADING_UPDATES = 500;

	let tableOfContents: HTMLElement | null;
	let headings: [HTMLAnchorElement, HTMLElement][] = [];
	let currentHeading = "";
	let lastHeadingUpdate = 0;
	let justNavigated = true;
	let handle: number | undefined;

	// TODO: add a button to scroll the active link into view when it's offscreen

	document.addEventListener("astro:page-load", () => {
		const menu = document.querySelector(".sidebar");
		if (!menu) {
			return;
		}

		const openButtons = document.querySelectorAll<HTMLElement>(".show-sidebar");
		for (const openButton of openButtons) {
			openButton.addEventListener("click", () => {
				menu.classList.add("open");
			});
		}

		const closeButtons = document.querySelectorAll<HTMLElement>(".hide-sidebar");
		for (const closeButton of closeButtons) {
			closeButton.addEventListener("click", () => {
				menu.classList.remove("open");
			});
		}

		tableOfContents = menu.querySelector(".table-of-contents");
		if (!tableOfContents) {
			return;
		}

		const contents = tableOfContents.querySelectorAll<HTMLAnchorElement>("a");
		headings = [];
		for (const item of contents) {
			const slug = item.dataset.slug;
			const heading = document.querySelector<HTMLElement>(
				slug ? `main #${slug}` : "main > article > header",
			);
			if (heading) {
				headings.push([item, heading]);
			}
		}

		currentHeading = location.hash.substring(1);
		justNavigated = true;
		updateHeadings();
		justNavigated = false;
	});

	function updateHeadings() {
		// Find the last link that hasn't gone off the top of the screen
		const scrollPadding = parseFloat(getComputedStyle(document.documentElement).scrollPaddingTop);
		const activeIndex =
			headings.findIndex(
				([, heading]) => heading.getBoundingClientRect().top >= scrollPadding + 100,
			) - 1;
		const [activeLink, activeHeading] = headings[activeIndex] ?? [];

		// Update the sidebar links
		for (const [link, heading] of headings) {
			const rect = heading.getBoundingClientRect();
			const isOnScreen = rect.bottom >= 0 && rect.top <= document.documentElement.clientHeight;
			link.classList.toggle("active", link === activeLink || isOnScreen);

			// If the browser didn't feel like scrolling the heading into view, then do so manually
			if (justNavigated && currentHeading && heading.id === currentHeading && window.scrollY < 1) {
				console.info(`Forcefully scrolling heading "${link.hash}" into view`);
				heading.scrollIntoView();
			}
		}

		if (justNavigated || activeHeading === undefined || currentHeading === activeHeading.id) {
			return;
		}

		// Update the address bar hash
		// Browsers don't like it when we spam the History API, so we need to throttle it here
		// TODO: make a throttle utility for stuff like this (including logging)
		const now = Date.now();
		const timeSinceUpdate = now - lastHeadingUpdate;
		currentHeading = activeHeading.id;
		clearTimeout(handle);

		if (timeSinceUpdate >= TIME_BETWEEN_HEADING_UPDATES) {
			setHeading(activeHeading.id);
		} else {
			handle = window.setTimeout(
				() => setHeading(activeHeading.id),
				TIME_BETWEEN_HEADING_UPDATES - timeSinceUpdate,
			);
		}
	}

	function setHeading(id: string) {
		const hash = `#${id}`;
		if (location.hash !== hash) {
			lastHeadingUpdate = Date.now();
			history.replaceState(null, "", hash);
		}
	}

	document.addEventListener("scroll", updateHeadings);
</script>

<style lang="scss">
	@use "../../styles/colors" as *;
	@use "../../styles/utils" as *;
	@use "sass:color";
	@use "sass:map";
	@use "sass:list";

	// Top bar
	header {
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 1000;
		background-color: var(--color-component);

		@media print {
			display: none;
		}

		@media (min-width: $breakpoint-desktop) {
			display: none;
		}

		@media (prefers-contrast: more) {
			border-bottom: 1px solid var(--color-border);
		}

		@include glass;

		@include preferences("fx") {
			background-color: color-mix(in srgb, var(--color-component), transparent 12%);
		}

		nav {
			display: flex;
			width: 100%;
			max-width: $page-width;
			margin: auto;
			padding: 0 size(12);
		}

		a,
		button {
			padding: size(10);
		}

		[data-icon] {
			font-size: size(20);
		}
	}

	button,
	a {
		display: flex;
		align-items: center;

		background: none;
		border: none;

		color: var(--color-heading);
		text-decoration: none;

		cursor: pointer;

		@include btn-transparent;
	}

	// Sidebar
	@mixin toc-depth($depth) {
		$font-weight: list.nth(400 385 360 335 315 300, $depth);
		$color-step: list.nth(50 100 200 250 300 325, $depth);

		&.depth-#{$depth} {
			padding: size(6) $page-margin size(6) calc($page-margin * ($depth + 1) / 2);
			font-weight: $font-weight;
			color: map.get($colors-taupe, $color-step);

			@include preferences("light") {
				color: map.get($colors-zinc, 1000 - $color-step);
			}

			@media (prefers-contrast: more) {
				color: var(--color-text);
			}

			@if $depth > 1 {
				@for $upper-depth from 1 through $depth - 1 {
					+ .depth-#{$upper-depth} {
						$margin: size(6);
						margin-top: $margin;

						& :global(.highlight) {
							height: calc(100% + $margin);
						}
					}
				}
			}
		}
	}

	.sidebar {
		$sidebar-width: size(280);

		position: fixed;
		left: size(-384);
		width: calc(100% - #{size(64)});
		max-width: $sidebar-width;
		height: 100%;

		display: flex;
		flex-direction: column;
		padding: size(8) 0;
		visibility: collapse;
		z-index: 2100;

		background-color: var(--color-component);
		box-shadow: $glass-shadow;
		transition:
			left 350ms ease,
			visibility 350ms allow-discrete;

		&.open {
			left: 0;
			visibility: visible;
		}

		:where(h2, a, label) {
			padding: size(10) $page-margin;
		}

		[data-icon] {
			font-size: size(30);
		}

		h2 {
			display: flex;
			align-items: center;
			gap: size(8);

			margin: 0;
			padding-top: size(12);
			padding-bottom: 0;
			font-weight: 500;
			font-size: size(16);
			color: var(--color-dimmer);

			.badge {
				color: var(--color-text);
			}
		}

		.table-of-contents {
			position: relative;
			margin-top: size(8);
			flex-grow: 1;
			overflow-y: auto;

			a {
				padding-block: size(6);

				@for $depth from 1 through 6 {
					@include toc-depth($depth);
				}
			}
		}

		> .hide-sidebar {
			position: absolute;
			left: 100%;
			margin: size(2) 0 size(2) size(6);
			padding: 0;

			width: size(48);
			height: size(48);
			border-radius: $radius-full;

			display: flex;
			align-items: center;
			justify-content: center;

			color: $red-500;

			@include preferences("light") {
				color: $red-400;
			}

			@include btn-transparent(true);
		}

		@media print {
			display: none;
		}

		@media (prefers-contrast: more) {
			border-right: 1px solid var(--color-border);
		}

		@media (min-width: $breakpoint-desktop) {
			background-color: color-mix(in srgb, var(--color-component), transparent 12%);

			position: sticky;
			top: 0;
			left: 0;
			visibility: visible;
			width: $sidebar-width;
			height: 100dvh;

			> .hide-sidebar {
				display: none;
			}

			@include preferences("fx") {
				backdrop-filter: blur(size(2));
			}
		}

		@media not (min-width: $breakpoint-desktop) {
			.site-logo {
				display: none;
			}
		}
	}

	.backdrop {
		@media (min-width: $breakpoint-desktop) {
			display: none;
		}
	}
</style>
